<section class="home-page" *ngIf="user">
  <div class="user-details" >
    <div class="user-name">Hello {{user.name}}!</div>
    <div class="user-coins-count">
      <img src="assets/icons/coins.png" alt="coins" width="24px" height="24px" /> Coins: {{user.coins}}
    </div>
    <div class="user-coins-rate">
      <img src="assets/icons/bitcoin.png" alt="bitcoin" width="24px" height="24px" /> BTC: {{bitcoinRate}}
    </div>
  </div>
  <moves-list title="Your last 3 moves" [moves]="moves"></moves-list>
</section>