<div class="header" *ngIf="user">
    <nav>
        <ul class="main-nav">
            <a routerLink="" class="nav-link" routerLinkActive="active"><img src="assets/icons/home.png" alt="" height="32" width="32"></a>
            <a routerLink="contacts" class="nav-link" routerLinkActive="active"><img src="assets/icons/users.png" alt="contact" height="32" width="32"/></a>
            <a routerLink="stats" class="nav-link" routerLinkActive="active"><img src="assets/icons/increase.png" alt="stats" height="32" width="32" /></a>
        </ul>
    </nav>
</div>